include ../includes/mixins.pug

doctype html 
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    include ../includes/styles.pug
    title Travelia
  body
    main#main-web
      header(class="bg-[#ffffffdb] w-full sticky top-0")
        .header(class=" flex justify-between items-center py-[25px] px-5 max-w-screen-2xl  mx-auto M:px-[15px] L:px-[40px] sm:px-[50px] md:px-[60px] lg:px-[80px] xl:px-[100px] 2xl:px-[150px]")
          a(href="../html/index.html")
            figure(class="max-w-[104px] lg:max-w-[109px]")
              img(src="../image/log.svg" alt="Logo image" class="w-full h-full")
          .bars-navbar(class="bg-[#efefefc9] w-[30px] h-[30px] cursor-pointer flex justify-center items-center rounded-[7px] lg:hidden")
            ion-icon(name="reorder-three-outline" class="text-[20px] text-[#626262]")
          .ground-navbar(class="bg-[#000000b3] fixed top-0 w-full h-screen hidden z-[1]")
          nav.navbar(class="bg-white h-screen max-w-60 w-full z-[2] fixed flex top-0 right-0 gap-5 flex-col p-1 lg:bg-inherit lg:p-0 lg:h-auto lg:static lg:max-w-none lg:w-auto lg:flex lg:flex-row lg:gap-[60px]")
            .close-navbar(class="ml-auto bg-[#6247fa] text-white flex justify-center items-center rounded-lg w-6 h-6 cursor-pointer lg:hidden")
              ion-icon(name="close-outline")
            .title-nav(class="lg:hidden")
              a(href="../html/index.html")
                figure(class="max-w-28 mx-auto my-2.5")
                  img(src="../image/log.svg" alt="Logo image" class="w-full h-full")
            - var myListNav = ["Home", "About", "Service", "Pricing" , "Contact"]
            ul.navbar-list(class="mx-1 mb-auto flex flex-col gap-4 lg:flex-row lg:mx-0")
              each val in myListNav
                li(class="text-sm")
                  a(href="#")= val
            .login-navbar(class="flex flex-row justify-center gap-4 mb-3 lg:mb-0")
              .sign-div(class="flex items-center justify-center gap-1")
                ion-icon(name="person-outline" class="text-[#6247fa]")
                button(class="sign-up text-black text-sm") Sign Up
              .sign-div(class="flex items-center justify-center gap-1")
                ion-icon(name="person-outline" class="text-[#6247fa]")
                button(class="sign-in text-black text-sm") Sign In

      section#home(class="px-5 max-w-screen-2xl mx-auto M:px-[15px] L:px-[40px] sm:px-[50px] md:px-[60px] lg:px-[80px] xl:px-[100px] 2xl:px-[150px]")
        .home-title
          .title-div
            .expo-div(class="flex justify-center items-center")
              p Explore The World
              img(src="../image/title-icon.svg" alt="title image")
            h1 It's a Big World Out There,Go Explore
            p We alway's make our customer happy by providing as many choices as possible
          .prog-home(class="flex gap-3 items-center")
            button(class="text-white") Learn a Trip &gt;
            .figure-play
              figure
                img(src="../image/bootom.jpg" alt="bottom image")
              .play(class="flex justify-center items-center")
                ion-icon(name="play")
              button Watch Our Story
        .image-home
          figure
            img(src="../image/ban.png" alt="home image" class="w-full h-full")

      section#service(class="flex flex-col px-5 max-w-screen-2xl mx-auto M:px-[15px] L:px-[40px] sm:px-[50px] md:px-[60px] lg:px-[80px] xl:px-[100px] 2xl:px-[150px]")
        .service-title(class="flex flex-col justify-center items-center")
          span WHAT WE SERVE
          h3 Top Values For You
          p Try a Variety of benefits When Using Our Services
        .service-list
          +handleData

      section#destination(class="flex flex-col px-5 max-w-screen-2xl mx-auto M:px-[15px] L:px-[40px] sm:px-[50px] md:px-[60px] lg:px-[80px] xl:px-[100px] 2xl:px-[150px]")
        .destination-title(class="flex flex-col justify-center items-center")
          span TOP DESTINATION
          h3 Explore Top Destination
        .products
          ul.products-list
        button(class="flex items-center justify-center") View all Destination

      section#experience(class="flex flex-col px-5 max-w-screen-2xl mx-auto M:px-[15px] L:px-[40px] sm:px-[50px] md:px-[60px] lg:px-[80px] xl:px-[100px] 2xl:px-[150px]")

    |
    |
    include ../includes/scripts.pug